<h1>Calculator</h1>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="calculator">
        <div class="calculator__grid">
          <div class="calculator__grid-full">
            <div class="calculator__current">
              <div class="calculator__calculated-result">
                {{ calculatedResult }}
              </div>
              <div class="calculator__calculated-operand">
                {{ calculatedOperand }}
              </div>
            </div>
            <div class="calculator__current-result">
              {{ currentResult }}
            </div>
          </div>
          <div class="calculator__grid-five">
            <button 
              *ngFor="let number of getArrayOfAllowedNumbers(['7', '8', '9'])" 
              (click)="appendNumber(number)" 
              class="calculator__button calculator__button--orange calculator__button--round">
              {{ number }}
            </button>
            <div></div>
            <button 
              class="calculator__button calculator__button--grey calculator__button--soft-corner"
              (click)="clear()">
              C
            </button>
          </div>
          <div class="calculator__grid-five">
            <button 
              *ngFor="let number of getArrayOfAllowedNumbers(['4', '5', '6'])" 
              (click)="appendNumber(number)" 
              class="calculator__button calculator__button--orange calculator__button--round">
              {{ number }}
            </button>
            <div></div>
            <button 
              class="calculator__button calculator__button--grey calculator__button--soft-corner"
              (click)="setOperand('/')">
              /
            </button>
          </div>
          <div class="calculator__grid-five">
            <button 
              *ngFor="let number of getArrayOfAllowedNumbers(['1', '2', '3'])" 
              (click)="appendNumber(number)" 
              class="calculator__button calculator__button--orange calculator__button--round">
              {{ number }}
            </button>
            <div></div>
            <button 
              class="calculator__button calculator__button--grey calculator__button--soft-corner"
              (click)="setOperand('*')">
              *
            </button>
          </div>
          <div class="calculator__grid-three">
            <button 
              class="calculator__button calculator__button--orange calculator__button--soft-corner"
              (click)="appendNumber('0')">
              0
            </button>
            <button 
              class="calculator__button calculator__button--orange calculator__button--soft-corner"
              (click)="appendComma()">
              ,
            </button>
            <div></div>
            <button 
              class="calculator__button calculator__button--grey calculator__button--soft-corner"
              (click)="setOperand('-')">
              -
            </button>
          </div>
          <div class="calculator__grid-two">
            <button 
              class="calculator__button calculator__button--grey calculator__button--soft-corner"
              (click)="calculate()">
              =
            </button>
            <div></div>
            <button 
              class="calculator__button calculator__button--grey calculator__button--soft-corner"
              (click)="setOperand('+')">
              +
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
