.calculator {
  &__current {
    display: flex;
    justify-content: center;

    &-result {
      margin-right: 5px;
    }
  }

  &__grid {
    display: grid;
    height: 500px;
    max-width: 500px;
    border: 1px solid;
    padding: 5px;

    &-full {
      border: 1px solid;
      margin-bottom: 20px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }

    $divider: 0px;

    &-five {
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr $divider 1fr;
      grid-column-gap: 10px;
      grid-auto-flow: row;
    }

    &-three {
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 1.5fr 1.5fr $divider 1fr;
      grid-column-gap: 10px;
      grid-auto-flow: row;
    }

    &-two {
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 3fr $divider 1fr;
      grid-column-gap: 10px;
      grid-auto-flow: row;
    }
  }

  &__button {
    border: 0;

    &--round {
      border-radius: 40px;
    }

    &--soft-corner {
      border-radius: 10px;
    }

    &--orange {
      background-color: #fe9705;
      color: #9e6c43;
    }

    &--grey {
      background-color: #6d6d6d;
      color: #e9e9e9;
    }
  }
}
